---
name: Deploy GitHub Pages

on:
  push:
    branches:
      - master
      - main

permissions:
  contents: write

env:
  cache_id: ""

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code from repository
        uses: actions/checkout@v6.0.0

      - name: Set up Python
        uses: actions/setup-python@v6.1.0
        with:
          python-version: '3.13'
          cache: 'pip'

      - name: Cache dependencies
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV

      - name: Cache dependencies with actions/cache
        uses: actions/cache@v4.3.0
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - name: Install dependencies with pip
        run: pip install -r requirements.txt

      - name: Build and deploy
        run: mkdocs gh-deploy --force
